

html {
  background-color: #fce9ee;
}

h1 {
  text-align: center;
  color: gray;
  font-size: 50px;
  letter-spacing: 3px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 25px;
  margin-bottom: 10px;
}

.titles {
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

button {
  border-radius: 100px;
  outline: none;
  border: 10px;
  margin: 12px;
  background-color: black;
}

button:hover {
  box-shadow: 0 20px 1em lightgrey;
}

.reset {
  position: fixed;
  bottom: 0;
  display: block;
  width: 99%;
  text-align: center;
  color: rgb(0, 150, 150);
  font-weight: bold;
}

reset:hover {
  text-decoration: underline;
}

.test {
  transition: all .2s ease;
  background: lightgrey;
}

.selectionS {
  background: url('images/scissors.png');
  width: 260px;
  height: 250px;
  left: 25%;
  top: 40%;
  position: absolute;
}

.selectionR {
  background: url('images/rock.png');
  width: 255px;
  height: 250px;
  left: 25%;
  top: 40%;
  position: absolute;
}

.selectionP {
  background: url('images/paper.png');
  width: 260px;
  height: 250px;
  left: 25%;
  top: 40%;
  position: absolute;
}

.selectionSC {
  background: url('images/scissors.png');
  width: 260px;
  height: 250px;
  left: 53%;
  top: 40%;
  position: absolute;
}

.selectionRC {
  background: url('images/rock.png');
  width: 255px;
  height: 250px;
  left: 53%;
  top: 40%;
  position: absolute;
}

.selectionPC {
  background: url('images/paper.png');
  width: 260px;
  height: 250px;
  left: 53%;
  top: 40%;
  position: absolute;
}


#playerScore {
  text-align: right;
  font-size: 60px;
  font-weight: bold;
}

#computerScore {
  font-size: 60px;
  font-weight: bold;
}

.btns {
  width: 100%;
  min-width: 1100px;
}

.btnPlayer, .btnComputer {
  display: flex;
  flex-direction: column;
}

.btnPlayer {
  float:left;
}

.btnComputer {
  float: right;
}

#gameResult {
  position: absolute;
  display: block;
  text-align: center;
  width: 99%;
  bottom: 7%;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

#finalScore {
  position: absolute;
  display: block;
  text-align: center;
  width: 99%;
  bottom: 50%;
  font-size: 40px;
  font-weight: bold;
  z-index: 10;
}
